<IfModule mod_ssl.c>
	<VirtualHost *:443>
		ServerAdmin webmaster@localhost
		ServerName cinny.holoffice.network
		ProxyRequests Off
		ProxyPreserveHost On
   		ProxyVia Full
		
		Header set Access-Control-Allow-Origin "*"
		Header always unset X-Frame-Options 
        
   		<Proxy *>
      			Require all granted
   		</Proxy>

		ErrorLog ${APACHE_LOG_DIR}/cinny.holoffice.log
		CustomLog ${APACHE_LOG_DIR}/cinny.holoffice.access.log combined

		Redirect /register /
		Redirect /login /
		
		SSLEngine on

		DocumentRoot /var/www/html/cinny.holoffice.network

		SSLCertificateFile /etc/letsencrypt/live/cinny.holoffice.network/fullchain.pem
		SSLCertificateKeyFile /etc/letsencrypt/live/cinny.holoffice.network/privkey.pem

	</VirtualHost>
</IfModule>